.DS_Store

#export
cached_decks

*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

config/initializers/secret_token.rb
.env
/.bundle
/vendor/bundle
/vendor/cache*

.rvmrc

/vendor/assets/bower_components
*.bowerrc
bower.json

.powenv

/log/*
!/log/.keep

.byebug_history
/config/database.yml
/config/secrets.yml
/config/initializers/devise.rb
/public/assets
/public/themes
/config/environments/production.rb
/document/upload_ppts
/config/initializers/sikekiq.rb
.idea
/public/demo_data/quiz_positions*.json
/config/environments/development.rb
node_modules
/decks
/public/decks
/db/schema.rb
/public/packs
/node_modules
.vscode
/config/sidekiq.yml
yarn-error.log
